* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* utils start here */
.auto-resizing-textarea {
  height: 20px;
  overflow: hidden;
  border: 1px solid red;
}

/* utils ends here */

.todo-app {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.todo-input {
  flex: 1;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  resize: none;
  overflow: hidden;
  border: 1px solid #ccc;
  height: 40px;
  padding: 10px;
}

#add-task-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
}

#add-task-btn:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

li.completed {
  text-decoration: line-through;
  color: #999;
}

.task-text {
  outline: none;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  resize: none;
  overflow: hidden;
  width: 100%;
}

.task-actions {
  display: flex;
  gap: 10px;
  height: fit-content;
}

button.complete-btn {
  background-color: #00ffa2;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-wrap: nowrap;
}

button.edit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-wrap: nowrap;
}

button.save-btn {
  background-color: #00d9ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-wrap: nowrap;
}

button.save-btn:hover {
  background-color: #06afdd;
}

button.complete-btn:hover {
  background-color: #00d96d;
}

button.edit-btn:hover {
  background-color: #0069d9;
}

button.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.delete-btn:hover {
  background-color: #c82333;
}

/* Editable styling */

li.non-editable button.save-btn {
  display: none;
}

/* li.editable button.save-btn {
  display: block;
} */

li.editable button.complete-btn {
  display: none;
}

li.completed button.complete-btn {
  background-color: #d200d9;
}

li.completed button.complete-btn:hover {
  background-color: #9e05a3;
}

.editable {
  border-color: #4318ee;
}

.editable:focus-within {
  border-color: #007bff;
  background-color: #e9f5ff;
}
